{% extends "base2.html" %}
{% block contents %}
<div class="row mt-5">
  <div class="col-12 text-center">
    <h1>상세</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
        <div class="form-group">
          <label>제목</label>
          <input type="text" class="form-control" value="{{board.title}}" readonly>
          <label>내용</label>
          <textarea class="form-control" readonly>{{board.description}}</textarea>
        </div>
        <div class="form-group">
          <input type="button" value="돌아가기" onclick="javascript:window.history.back()"/>
        </div>
    </div>
  </div>  
</div>
{% endblock %}